
.inner-conatiner{
    height: 96.26vh;
    width: 30.93vw;background: linear-gradient(to top , black  ,#a11d20);
}
.inner-conatiner .icon{
    height: 17vh;
    max-width: 7.97vw;
    background-color: pink;
}