* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
  overflow-x: hidden;
}
#cursor {
  height: 20px;
  width: 20px;
  background-color: #050605;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  transition: all linear 0.1s;
}
#cursor-blur {
  height: 500px;
  width: 500px;
  background-color: rgba(58, 59, 58, 0.291);
  border-radius: 50%;
  position: fixed;
  filter: blur(80px);
  z-index: 9;
  transition: all linear 0.4s;
}
#nav {
  /* background-color: blue; */
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 40px;
}

#nav img {
  width: 157.99px;
  height: 65px;
}

#nlinks {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 20px;
  font-size: 1.3vw;
}

#nlinks a {
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  width: 100px;
  /* background-color: red; */
  border-radius: 8px;
  transition: background-color 0.5s 0.1s;
}
#nlinks a:hover {
  color: rgb(255, 255, 255);
  background-color: #a11d20;
  transform: translateY(-10px);
  /* transition: 0.1s ease-in-out; */
}
.btns {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 25vw;
}

.btns .Quote {
  border: 1px solid black;
  border-radius: 50px;
  padding: 13px 16px;
  text-align: center;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.5s 0s;
}

.Quote:hover {
  background-color: #a11d20;
  color: white;
  border: none;
  transform: translateY(-10px);
}
/* Parent container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  text-decoration: none;
  color: black;
  /* background-color: #f1f1f1; */
  border: none;
  cursor: pointer;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #5a5353; */
  backdrop-filter: blur(10px);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #ddd;
}

#nav #menu {
  display: none;
}
#nav #mobile-nlinks {
  height: 40vh;
  width: 30vw;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  background-color: rgba(170, 161, 161, 0.213);
  backdrop-filter: blur(10px);
}
#nav #mobile-nlinks a {
  margin-left: 20px;
  text-decoration: none;
  color: #050605;
}
#nav #mobile-nlinks a:hover {
  color: rgb(255, 255, 255);
  border: 0.5px solid #a11d20;
  background-color: rgb(80, 80, 80);
}
#nav #mobile-nlinks #close {
  margin-left: 20px;
  height: 26px;
  width: 26px;
  margin-top: 20px;
}

  #bg {
    height: 100%;
    width: 100%;
    background-image: url("../Assets/Group\ 2.png");
    object-fit: contain;
    opacity: 0.9;
    z-index: -999;
  }
  #bg .blur {
    height: 35%;
    width: 100%;
    background-image: url("../Assets/Rectangle 2.png");
    object-fit: cover;
    background-position: top;
    z-index: -1;
  }
  #About-Us-Page-1 {
    height: 139.78vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #About-Us-Page-1 #main-About-us {
    width: 90vw;
    height: 112.32vh;
    /* background-color: crimson; */
    display: flex;
    transform: translateY(-100px);
  }
  #About-Us-Page-1 #main-About-us .left {
    height: 100%;
    width: 46.26vw;
    /* background-color: red; */
    display: flex;
    /*  112.32vw - 98.28vw  */
  }
  #About-Us-Page-1 #main-About-us .left .img1 {
    height: 98.28vh;
    width: 100%;
    background-image: url(../Assets/aboout-us-main-img.png);
    border-radius: 24px;
    background-position: top left;
    object-fit: cover;
    background-repeat: no-repeat;

  }
  
  #About-Us-Page-1 #main-About-us #right {
    height: 91.107vh;
    width: 36.31vw;
    /* background-color: blue; */
    margin-left: 104px;
    padding: 50px;
  }
  #About-Us-Page-1 #main-About-us #right h1 {
    font-size: 3rem;
  }
  #About-Us-Page-1 #main-About-us #right p {
    font-size: 1.25;
  }
  #About-Us-Page-1 #main-About-us #right .bullet-points{
    margin-top: 120px;
    font-size: 1.5rem;
    width: auto ;
  }
  #About-Us-Page-1 #main-About-us #right .bullet-points li{
    margin-top: 20px;
  }
  #About-Us-Page-2 {
    height: 100vh;
    transform: translateY(-100px); 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
  }
  #About-Us-Page-2 #About-Us-Page-2-main {
    height: 90%;
    width: 90vw;
    /* background-color: crimson; */
    display: flex;
  }
  #About-Us-Page-2 #About-Us-Page-2-main #left {
    height: 100%;
    width: 50%;
    /* background-color: brown; */
  }
  #About-Us-Page-2 #About-Us-Page-2-main #left h1 {
    font-size: 3rem;
    font-weight: 900;
  }
  #About-Us-Page-2 #About-Us-Page-2-main #left .img-Our-Story {
    width: 40.336vw;
    height: 72.38vh;
    background-color: grey;
    border-radius: 40px;
    margin-top: 48px;
  }
  #About-Us-Page-2 #About-Us-Page-2-main #right {
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    padding: 40px;
    padding-top: 20px;
  }
  #About-Us-Page-2 #About-Us-Page-2-main #right h6 {
    font-size: 1.25rem;
    line-height: 1.25;
  }
  #About-Us-Page-2 #About-Us-Page-2-main #right p {
    font-size: 1rem;
    margin-top: 22px;
    line-height: 1.25;
    position: relative;
  }
  
  #About-us-page-3 {
    height: 111.5vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  #About-us-page-3 h1 {
    font-size: 3.75rem;
    font-weight: 900;
  }
  #About-us-page-3 .Employ-Details {
    width: 90vw;
    height: 67.08vh;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
  }
  #About-us-page-3 .Employ-Details .Employee {
    height: 67.08vh;
    width: 20.22vw;
    /* background-color: #fff; */
  }
  
  #About-us-page-3 .Employ-Details .Employee .img {
    height: 50%;
    background-color: grey;
    border-radius: 16px;
    margin-top: 40px;
  }
  #About-us-page-3 .Employ-Details .Employee .info {
    margin-left: 5.11vw;
    margin-top: 50px;
  }
 
  #page7 {
    height: 30vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page7 .page7-main {
    height: 80%;
    text-align: center;
    font-size: 1.8vw;
    padding: 58px 0px;
    width: 80%;
    position: relative;
    /* background-color: crimson; */
  }
  
  .footer {
    height: 80vh;
    width: 100%;
    background-image: url("../Assets/Footer-blur.png");
    object-fit: contain;
    background-position: right;
    /* background-repeat: no-repeat;  */
    /* background-color: rgb(154, 154, 171); */
    /* margin-top: 850px; */
   
    
  }
  .footer .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
    /* background-color: blueviolet; */
  }
  .footer .main img {
    margin-top: -30vh;
    margin-left: 50px;
  }
  .footer .main .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1vw;
    /* background-color: rgb(46, 213, 152); */
  }
  .footer .main .resources {
    display: flex;
    /* background-color: rgb(46, 213, 152); */
    flex-direction: column;
    gap: 30px;
    font-size: 1vw;
    transform: translateY(-40px);
  }
  .main a {
    text-decoration: none;
    color: #050605;
    font-weight: 400;
  }
  .main .newsletter {
    height: 50%;
    width: 35vw;
    margin-top: -50px;
    /* background-color: cyan; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .main .newsletter h6 {
    font-size: 1.2vw;
    font-weight: 600;
    color: #a11d20;
  }
  .main .newsletter p{
    font-size: 0.98vw;
  }
  .main .newsletter .input-submit {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-between;
    /* background-color: rgb(58, 52, 63); */
  }
  .main .newsletter .input-submit input {
    height: 100%;
    width: 65%;
    border-radius: 8px;
    border: 0.5px solid black;
    padding: 20px;
  }
  .main .newsletter .input-submit button {
    height: 100%;
    width: 25%;
    color: white;
    background-color: #a11d20;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .line {
    margin: 0 auto;
    width: 80%; border-bottom: 2px solid #a11d20
  }
  .footer .final-links {
    display: flex;
    height: 20%;
    width: 100%;
    /* background-color: rgb(137, 137, 207); */
  }
  .footer .final-links .f-l-content {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    margin-left: 50px;
    font-size: 1vw;
  }
  .footer .final-links .f-l-content a {
    width: 15vw;
    color: #050605;
  }
  .footer .final-links .f-l-content :nth-child(1){
    width: 280px;
    text-decoration: none;
  }
  .footer .final-links .f-l-content :nth-child(2){
    transform: translateX(-20px);
  }
  .footer .final-links .f-l-content :nth-child(3){
    transform : translateX(-150px)
  }
  .footer .final-links .f-l-content :nth-child(4){
    transform: translateX(-250px);
  }
  .footer .final-links .social-sites {
    height: 20px;
    width: 6.5vw;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 2vw;
    transform: translateX(400px);
  }
  
/* Nav ki Media Queries */
@media (max-width: 480px) {
  #nav .btns {
    margin-left: 30px;
    height: 50px;
    width: 50vw;
  }
  #nav {
    padding: 10px;
    height: 80px;
  }
  #nav img {
    width: 73px;
    height: 37.5px;
  }
  #nav #nlinks {
    display: none;
  }
  #nav #menu {
    display: initial;
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #About-Us-Page-1{
    /* background-color: blue; */
    flex-direction: column;
    width: auto;
  }
  #About-Us-Page-1 #main-About-us{
    /* background-color: crimson; */
    flex-direction: column;
  }
  #About-Us-Page-1 #main-About-us .left{
    height: 200vh;
    width: auto;
  }
  #About-Us-Page-1 #main-About-us .left .img1 {
      width: 347.92px;
      height: 247.02px;
      margin: 0;
      background-color: grey;
      background-image: none;
  }
  #About-Us-Page-1 #main-About-us #right{
    /* display: none; */
    width: 100%;
    margin: 0;
  }
  #About-Us-Page-2 {
    /* background-color: crimson; */
    transform: translate(0px ,200px);
    flex-direction: column;
  }
  #About-Us-Page-2 #About-Us-Page-2-main{
    flex-direction: column;
  }
  #About-Us-Page-2 #About-Us-Page-2-main #left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #About-Us-Page-2 #About-Us-Page-2-main #left .img-Our-Story{
    width: 100%;
  }

  #About-Us-Page-2 #About-Us-Page-2-main #right{
    width: 100%;
  }
  #About-us-page-3{
    transform: translateY(1800px);
  }
  #About-us-page-3 h1{
    font-size: 50px;
    text-align: center;
  }

  #About-us-page-3 .Employ-Details{
    flex-direction: column;
    width: 100%;
    height: 1800px;
    gap : 20px;
    padding: 20px;
  }
  #About-us-page-3 .Employ-Details .Employee{
    /* background-color: crimson; */
    border: 2px solid #a11d20;
    width: auto;
    border-radius: 16px;
    height: 430px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #About-us-page-3 .Employ-Details .Employee .img{
    height: 290px;
    width: 290px;
  }
  #About-us-page-3 .Employ-Details .Employee .info{
    margin-bottom: 20px;
    width: auto;
  }
  #bg .blur{
    background-image: none;
  }

   /* Same rahegi sab page mee yahan sy copy hogi  */

   #page7 {
    height: 300px;
    transform: translateY(2400px);
  }
  #page7 .page7-main h1 {
    font-size: 72px;
  }
  .footer {
    width: auto;
    transform: translateY(2400px);/
    /* background-repeat: no-repeat; */
  }
  .footer .main {
    flex-direction: column;
    /* background-color:  crimson; */
    transform: translateY(250px);
  }
  .footer .main a {
    font-size: 21.58px;
  }
  .footer .main img {
    height: 65.95px;
    width: 65.45px;
    transform: translate(-150px , 20px);
    /* margin-top: 0.2px; */
  }
  .footer .main .resources {
    transform: translateY(0px);
    transform: translate(5px, 0);
    margin-top: 50px;
  }
  .footer .main .content {
    transform: translateX(-122px);
    margin-top: 50px;
  }
  .footer .main .newsletter {
    transform: translateY(100px);
    width: auto;
    padding: 0px 20px;
    justify-content: flex-start;
  }
  .footer .main .newsletter p{
    margin-top: 20px;
    font-size: large;
  }
  .footer .main .newsletter .input-submit{
    height: 48px;
    margin-top: 20px;
  }
  .footer .main .newsletter .input-submit input{
    width : 196px;
  }
  .footer .main .newsletter .input-submit button{
    width: 110px;
  }
  .footer .main .newsletter h6{
    font-size: 27px;
    color: #a11d20;
    margin-top: 20px;
  }
  .footer .line{
    transform: translateY(600px);
    border-bottom: 4px solid #a11d20;
    width: 50%;
  }

  .footer .final-links{
    /* background-color: crimson; */
    transform: translateY(620px); 
    /* width: 345px; */
    height: 50px;
  }
  .footer .final-links .f-l-content{
    /* background-color: blue;   */
    width: 400px;
    height: 100px;
    padding: 0px;
    margin-left: 0px;
  }
  .footer .final-links .f-l-content a{
    font-size: 14px;
  }
  .footer .final-links .f-l-content :nth-child(1){
    /* background-color: blue; */
    width: 3000px;
    height: 21px;
    transform: translate( 80px,80px);
    text-align: center;
    /* background-color: blue; */
    
  }
  .footer .final-links .f-l-content :nth-child(2){
    transform: translateX(-140px);
    width: 400px;

  }
  .footer .final-links .f-l-content :nth-child(3){
    transform: translateX(-120px);
    width: 400px;
  }
  .footer .final-links .social-sites{
    height: 33px;
    width: 134px;
    /* background-color: purple; */
    transform: translate(-250px , -40px);
  }
  /* Yahan to copy rahegi */
}
/* Nav ki media queries ka end */