
    .footer {
      height: 80vh;
      width: 100%;
      object-fit: contain;
      background-position: right;
      background: linear-gradient(to bottom, rgb(255, 243, 245), white);
    }
    
    .footer .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70%;
      width: 100%;
    }
    
    .footer .main img {
      margin-top: -30vh;
      margin-left: 50px;
    }
    
    
    .footer .main .content,
    .footer .main .resources {
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-size: 1vw;
    }
    .footer .main .content{
      margin-bottom: 40px;
    }
    .footer .main .resources {
      transform: translateY(-36px);
    }
    
    .main a {
      text-decoration: none;
      color: #050605;
      font-weight: 400;
    }
    
    .main .newsletter {
      height: 50%;
      width: 35vw;
      margin-top: -50px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    
    .main .newsletter h6 {
      font-size: 1.2vw;
      font-weight: 600;
      color: #a11d20;
    }
    
    .main .newsletter p {
      font-size: 0.98vw;
    }
    
    .main .newsletter .input-submit {
      display: flex;
      width: 100%;
      height: 25%;
      justify-content: space-between;
    }
    
    .main .newsletter .input-submit input {
      height: 100%;
      width: 65%;
      border-radius: 8px;
      border: 0.5px solid black;
      padding: 20px;
    }
    
    .main .newsletter .input-submit button {
      height: 100%;
      width: 25%;
      color: white;
      background-color: #a11d20;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-size: 1rem;
    }
    
    .line {
      margin: 0 auto;
      width: 80%;
      border-bottom: 2px solid #a11d20;
    }
    
    .footer .final-links {
      display: flex;
      /* height: 20%; */
      height: auto;
      width: auto;
      /* background-color: green; */
      padding-left: 10%;
    }
    
    .footer .final-links .f-l-content {
      display: flex;
      margin-top: 30px;
      gap: 30px;
      margin-left: 50px;
      font-size: 1vw;
    }
    
    .footer .final-links .f-l-content a {
      width: 15vw;
      color: #050605;
    }
    
    .footer .final-links .f-l-content :nth-child(1) {
      width: auto;
      text-decoration: none;
    }
    
    .footer .final-links .f-l-content :nth-child(2) {
      transform: translateX(30px);
    }
    
    .footer .final-links .f-l-content :nth-child(3) {
      transform: translateX(-100px);
    }
    
    /* .footer .final-links .f-l-content :nth-child(4) {
      transform: translateX(-250px); 
    } */
    
    .footer .final-links .social-sites {
      height: 20px;
      width: 6.5vw;
      display: flex;
      gap: 20px;
      margin-top: 30px;
      margin-left: 2vw;
      transform: translateX(200px);
    }


    @media ( max-width : 480px){
      .footer {
        height: auto;
        margin-top: 100px;
        padding: 20px;
        background-position: center;
        position: absolute;
        z-index: 999;
      }
    
      .footer .main {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
      }
    
      .footer .main img {
        width: 80px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-right: 230px;
      }
    
      .footer .main .content,
      .footer .main .resources {
        font-size: 3.5vw;
        gap: 15px;
        margin-bottom: 20px;
        /* justify-content: flex-start; */
        align-items: start;
      }
    
      .footer .main .resources {
        margin-bottom: 50px;
        transform: none;
      }
      .main .newsletter {
        width: 100%;
        margin-top: 0;
        gap: 10px;
        font-size: 3vw;
      }
    
      .main .newsletter .input-submit {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    
      .main .newsletter .input-submit input,
      .main .newsletter .input-submit button {
        width: 100%;
        height: 40px;
      }
    
      .line {
        width: 90%;
      }
    
      .footer .final-links {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 0;
      }
    
      .footer .final-links .f-l-content {
        font-size: 4vw;
        gap: 10px;
        margin: 0 auto;
        text-align: center;
        flex-direction: column-reverse;
      }
      .main .newsletter h6 {
        font-size: 1rem;
      }
      .main .newsletter p {
        font-size: 1rem;
      }
      .footer .final-links .f-l-content :nth-child(1) {
        font-size: 0.7rem;
      }
      .footer .final-links .f-l-content :nth-child(1),
      .footer .final-links .f-l-content :nth-child(2),
      .footer .final-links .f-l-content :nth-child(3),
      .footer .final-links .f-l-content :nth-child(4) {
        transform: none;
        width: auto;
      }
    
      .footer .final-links .social-sites {
        width: 50%;
        transform: translateX(50px);
        justify-content: center;
        margin: 10px auto;
      }
    }