* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
    overflow-x: hidden;
  }
  #cursor {
    height: 20px;
    width: 20px;
    background-color: #050605;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
  }
  #cursor-blur {
    height: 500px;
    width: 500px;
    background-color: rgba(58, 59, 58, 0.291);
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
    transition: all linear 0.4s;
  }
  #nav {
    /* background-color: blue; */
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 40px;
  }
  
  #nav img {
    width: 157.99px;
    height: 65px;
  }
  
  #nlinks {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 20px;
    font-size: 1.3vw;
  }
  
  #nlinks a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    width: 100px;
    /* background-color: red; */
    border-radius: 8px;
    transition: background-color 0.5s 0.1s;
  }
  #nlinks a:hover {
    color: rgb(255, 255, 255);
    background-color: #a11d20;
    transform: translateY(-10px);
    /* transition: 0.1s ease-in-out; */
  }
  .btns {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 25vw;
  }
  
  .btns .Quote {
    border: 1px solid black;
    border-radius: 50px;
    padding: 13px 16px;
    text-align: center;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.5s 0s;
  }
  
  .Quote:hover {
    background-color: #a11d20;
    color: white;
    border: none;
    transform: translateY(-10px);
  }
  /* Parent container */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown button */
  .dropbtn {
    text-decoration: none;
    color: black;
    /* background-color: #f1f1f1; */
    border: none;
    cursor: pointer;
    display: inline-block;
  }
  
  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #5a5353; */
    backdrop-filter: blur(10px);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 16px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change color of dropdown button on hover */
  .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
  
  #nav #menu {
    display: none;
  }
  #nav #mobile-nlinks {
    height: 40vh;
    width: 30vw;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    background-color: rgba(170, 161, 161, 0.213);
    backdrop-filter: blur(10px);
  }
  #nav #mobile-nlinks a {
    margin-left: 20px;
    text-decoration: none;
    color: #050605;
  }
  #nav #mobile-nlinks a:hover {
    color: rgb(255, 255, 255);
    border: 0.5px solid #a11d20;
    background-color: rgb(80, 80, 80);
  }
  #nav #mobile-nlinks #close {
    margin-left: 20px;
    height: 26px;
    width: 26px;
    margin-top: 20px;
  }
  #bg {
    height: 100%;
    width: 100%;
    background-image: url("../Assets/Group\ 2.png");
    object-fit: contain;
    opacity: 0.9;
    z-index: -999;
  }
  #bg .blur {
    height: 35%;
    width: 100%;
    background-image: url("../Assets/Rectangle 2.png");
    object-fit: cover;
    background-position: top;
    z-index: -1;
  }
  #page7 {
    height: 30vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page7 .page7-main {
    height: 80%;
    text-align: center;
    font-size: 1.8vw;
    padding: 58px 0px;
    width: 80%;
    position: relative;
    /* background-color: crimson; */
  }
  
  .footer {
    height: 80vh;
    width: 100%;
    background-image: url("../Assets/Footer-blur.png");
    /* background-color: rgb(154, 154, 171); */
    margin-top: 850px
  
  }
  .footer .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
    /* background-color: blueviolet; */
  }
  .footer .main img {
    margin-top: -30vh;
    margin-left: 50px;
  }
  .footer .main .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1vw;
    /* background-color: rgb(46, 213, 152); */
  }
  .footer .main .resources {
    display: flex;
    /* background-color: rgb(46, 213, 152); */
    flex-direction: column;
    gap: 30px;
    font-size: 1vw;
  }
  .main a {
    text-decoration: none;
    color: #050605;
    font-weight: 400;
  }
  .main .newsletter {
    height: 50%;
    width: 35vw;
    margin-top: -50px;
    /* background-color: cyan; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .main .newsletter .input-submit {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-between;
    /* background-color: rgb(58, 52, 63); */
  }
  .main .newsletter .input-submit input {
    height: 100%;
    width: 65%;
    border-radius: 8px;
    border: 0.5px solid black;
    padding: 20px;
  }
  .main .newsletter .input-submit button {
    height: 100%;
    width: 25%;
    color: white;
    background-color: #a11d20;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .line {
    margin: 0 auto;
  }
  .footer .final-links {
    display: flex;
    height: 20%;
    width: 100%;
    /* background-color: rgb(137, 137, 207); */
  }
  .footer .final-links .f-l-content {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    margin-left: 50px;
    font-size: 1vw;
  }
  .footer .final-links .f-l-content a {
    text-decoration: black;
    width: 15vw;
    color: #050605;
  }
  .footer .final-links .social-sites {
    height: 20px;
    width: 6.5vw;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 2vw;
    /* background-color: #fff; */
  }
  
#page1-subpages {
    height: 142.74vh;
    width: 100%;
    /* background-color: blue; */
  }
  .service-heading-wrapper{
    margin-top: 150px;
  }
  
  #page4-subpages{
  height: 200vh;
  width: 100vw;
    padding: 50px;
  /* background-color: blue; */
  }
  #page4-subpages .main-page-4-subpage{
    /* background-color: crimson; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #page4-subpages .main-page-4-subpage .top{
    height: 50%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  #page4-subpages .main-page-4-subpage .top .main-of-top{
    height: 100%;
    /* background-color: brown; */
    width: 75%;
    padding: 20px;
  }
  #page4-subpages .main-page-4-subpage .top .main-of-top .info{
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }
  
  #page4-subpages .main-page-4-subpage .top .main-of-top .info .img{
    height: 50%;
    width: 50%;
    /* background-color: palegoldenrod; */
    background-color: grey;
  }
  #page4-subpages .main-page-4-subpage .top .main-of-top .info h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
  }
  #page4-subpages .main-page-4-subpage .top .main-of-top .info p{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 10px;
  }
  #page4-subpages .main-page-4-subpage .bottom{
    height: 50%;
    width: 100%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
  }
  #page4-subpages .main-page-4-subpage .bottom .main-container{
    height: 100%;
    width: 45%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #page4-subpages .main-page-4-subpage .bottom .main-container .inner-container{
    height: 30%;
    width: 100%;
    /* border: 1px solid purple; */
  }
  #page4-subpages .main-page-4-subpage .bottom .main-container .inner-container .img-heading{
    height: 40%;
    /* background-color: peru; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #page4-subpages .main-page-4-subpage .bottom .main-container .inner-container .img-heading h1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
  }
  #page4-subpages .main-page-4-subpage .bottom .main-container .inner-container .img-heading .img{
    height: 100%;
    width: 15%;
    background-color: grey;
  }
  #page4-subpages .main-page-4-subpage .bottom .main-container .inner-container p{
    font-size: 1rem;
    font-weight: 400;
    /* text-align:justify; */
    margin-top: 20px;
  }
  .service-heading {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to right, #a11d20, #000);
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .service-heading h1 {
    transform: translateX(-480px);
    font-weight: 900;
    color: white;
    /* background-color: rgb(240, 240, 240); */
    font-size: 4rem;
  }
  
   .service-heading .img {
    background-image: url(Assets/Subpages-Abstract-design.png);
    height: 100%;
    width: 120px;
    /* background-color: blue; */
    transform: translate(-480px);
  }
  #page1-subpages .featured-products-wrapper {
    height: 60%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page1-subpages .featured-products-wrapper .feature-product{
    height: 50.93vh;
    width: 85.78vw;
    /* background-color: blue; */
    padding: 50px 0px;
    display: flex;
  }
  #page1-subpages .featured-products-wrapper .feature-product .left{
    height: 100%;
    width: 50%;
    /* background-color: purple; */
  }
  #page1-subpages .featured-products-wrapper .feature-product .left h1{
    font-size: 3.5rem;
    font-weight: 900;
  }
  #page1-subpages .featured-products-wrapper .feature-product .left h1::before {
    content: "";
    width: 8%;
    height: 5px;
    background-color: #a11d20;
    
    transform: translateY(-50px);
    
  }
  #page1-subpages .featured-products-wrapper .feature-product .left p{
    width: 80%;
    transform: translateY(30px);
    font-weight: 400;
    color: #737373;
    line-height: 1.5;
    font-size: 1rem;
  }
  #page1-subpages .featured-products-wrapper .feature-product .right{
    height: 100%;
    width: 50%;
    /* background-color: palegreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #page1-subpages .featured-products-wrapper .feature-product .right .get-projects{
    height: 80%;
    width: 45%;
    /* background-color: rgb(154, 154, 192); */
    /* display: subgrid; */
  }
  #page1-subpages .featured-products-wrapper .feature-product .right .get-project .container{
    height: 123px;
    /* width: 150%; */
    position: absolute;
    /* background-color: peru; */
    display: flex;
  }
  #page1-subpages .featured-products-wrapper .feature-product .right .happy-hours{
    height: 80%;
    width: 45%;
    /* background-color: rgb(196, 196, 29); */
  }
  #page2-subpages{
    height: 136.349vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  #page2-subpages .imgcontainer{
    height: 100%;
    width: 30%;
    /* background-color: red;   */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #page2-subpages .imgcontainer .inner-container{
    height: 20%;
    width: 50%;
    /* background-color: purple; */
    transform: translateX(-95px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #page2-subpages .imgcontainer .to-be-left{
    transform: translateX(95px);
  }
  #page2-subpages .imgcontainer .inner-container .inner-img{
    height: 19.33vh;
    width: 9.077vw;
    background-color: grey;
    border-radius: 38px;
  }
  #page2-subpages .imgcontainer .inner-container p{
    /* background-color: burlywood; */
    width: 100px;
    font-size: 1rem;
    position: absolute;
    bottom: -25px;
    font-weight: 500;
  
  }
  
  #page2-subpages .imgcontainer .to-be-right{
    transform: translateX(94px);
  }
  #page2-subpages .imgcontainer .main-big-img{
    height: 40%;
    width: 100%;
    background-color: grey;
    transform: translateY(75%);
    border-radius: 37px;
  }
  #page3-subpage{
    height: 146.349vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  #page3-subpage .page3-subpage-main{
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #page3-subpage .page3-subpage-main .innercontainer{
    height: 100%;
    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  #page3-subpage .page3-subpage-main .innercontainer .top{
    margin-top: -120px;
  }
  #page3-subpage .page3-subpage-main .innercontainer .bottom{
    margin-top: 120px;
  }
  #page3-subpage .page3-subpage-main .innercontainer .website-container{
    height: 55.09vh;
    width: 21.44vw;
    border: 2px solid #a11d20;
    border-radius: 18px;
    padding: 50px;
    display: flex;flex-direction: column;justify-content: center;
    align-content: center; line-height: 1.5;
  }
  #page3-subpage .page3-subpage-main .innercontainer .website-container .content .img{
    height: 14.3vh;
    width: 6.73vw;
    background-color: grey;
    border-radius: 18px;
    margin-left: -45px;
  }
  #page3-subpage .page3-subpage-main .innercontainer .website-container .content h6{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 20px;
  }
  #page3-subpage .page3-subpage-main .innercontainer .website-container .content p{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
  }
  #page3-subpage .page3-subpage-main .innercontainer .website-container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  